<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="apps.hillavas.com.hamrahdars">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".FontSetterOnApllication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/titr"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="label"
        >
        <activity
            android:name=".HOME"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MessagingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommonQuestion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Buesy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ArticleTextView"
            android:label="@string/title_activity_article_text_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CommonQuestionOne"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Subjects"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Signs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainOfPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirstContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConsultantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangeStateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuyReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Buy_Credit_Activity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="32384587bd1a5d0cfcdb12166566ce8d161e7ff8" />

        <activity android:name=".IntroActivity"></activity>
    </application>

</manifest>